/* Hero Section */
.hero {
    width: 100%;
    background: url("images/hero-bg.mp4") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    color: white;
    position: relative;
}

#hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
}

.hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.hero div h1 {
    font-size: 4rem;
    font-weight: 700;
}

.hero div p {
    font-size: 2rem;
    font-weight: 700;
}

.hero div button {
    color: #ffffff;
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 0.5rem;
}
/* Hero Section End */
/* prreview section */
.preview {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.preview-title {
    margin-bottom: 10rem;
}

.preview h2 {
    font-size: 2rem;
    font-weight: 700;
}

.preview p {
    font-size: 1rem;
    font-weight: 400;
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 4rem;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 55%;
    padding: 0.5rem;
    min-width: 55%;
    height: fit-content;
    min-height: 55rem;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    overflow-y: hidden;
    transition: opacity 0.5s ease;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: all 0.3s;
}

.main-image img:hover {
    opacity: 0.8;
}

.main-image img.hidden {
    opacity: 0;
}

.product-images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.5rem;
    padding: 1rem;
    overflow-x: scroll;
    overflow-y: visible;
}

.product-images img {
    width: auto;
    height: 6rem;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease, border-color 0.3s ease;
}

.product-images img.active {
    filter: brightness(-5);
    opacity: 1;
}

.product-details-container {
    position: relative;
    display: flex;
    flex: 1 1 44%;
    min-width: 44%;
}

.product-details-container.warped {
    width: 100%;
}

.product-details {
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.product-details p {
    font-size: 1.5rem;
    font-weight: 700;
    direction: rtl;
}

.product-details .price {
    font-size: 1.5rem;
    font-weight: 700;
    color: #e22120;
}

.product-details .price s {
    color: #cccccc;
}

#quantity{
    width: 3rem;
    padding: 0.4rem;
    text-align: center;
    font-size: 1rem;
    background-color: transparent;
}

.Quantity-p {
    font-size: 1rem !important;
    cursor: pointer;
    transition: all 0.3s;
}

.Quantity-p:hover {
    opacity: 0.8;
}

.product-details .quantity-container {
    justify-content: space-between;
    padding: 0 0.1rem;
    background-color: #cccccc;
    border-radius: 0.4rem;
    transition: all 0.3s;
}

.product-details .quantity-container:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 3px;
}

.product-details .quantity-container i {
    color: #000000;
}

.product-details .quantity-container p {
    font-size: 1rem;
}

.product-details button {
    width: 100%;
}

.product-full-details {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5rem;
    text-align: center;
    white-space: pre-line;
}

.customer-reviews {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
    white-space: pre-line;
    max-width: 40rem;
}

.customer-reviews {
    font-size: 1rem;
    font-weight: 500;
}

.customer-reviews h2 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 5rem;
    text-align: center;
}

.customer-reviews img {
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.customer-reviews span {
    color: #000000cf;
    font-size: 0.8rem;
    font-style: italic;
}

.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 5%;
    text-align: center;
}

.overview div img {
    width: 35rem;
    height: auto;
    border-radius: 0.6rem;
}

.overview div h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

.overview div p {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Catalog page */
.catalog-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 3rem;
}

.catalog-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5%;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    height: 30rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
}

.catalog-item img {
    width: 18rem;
    height: 18rem;
    border-radius: 0.4rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.catalog-item img:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

.catalog-img-container {
    position: relative;
    height: calc(70%-1rem);
}

.catalog-img-container img {
    width: 100%;
    height: 100%;
}

.catalog-icon-save {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 0.8rem !important;
    font-weight: 600;
    padding: 0rem 0.2rem;
    border-radius: 0.4rem;
    color: #ffffff;
    background-color: #000000;
}

.catalog-icon-save i {
    color: #ffffff;
    font-size: 0.8rem;
}

.catalog-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    direction: rtl;
    height: calc(30%-1rem);
}

.catalog-item h2 {
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 17rem;
}

.catalog-price-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.catalog-price-container p {
    font-size: 1rem;
    font-weight: 700;
    color: #e22120;
}

.catalog-price-container .price {
    font-size: 1rem;
    font-weight: 700;
    color: #999999;
    text-decoration: line-through;
}

/* Features Section */
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.feature-image {
    width: 80%;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.feature-image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    transition: opacity 0.5s ease;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.feature-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    width: 15rem;
    height: 10rem;
}

.feature-list div i {
    color: #e22120;
    font-size: 3rem;
}

/* Contact Page */

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 4rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    gap: 1rem;
}

.form-group-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    gap: 0.5rem;
}

/* Search Page */
.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-title {
    font-size: 4rem;
    font-weight: 700;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-form input {
    width: 40rem;
    padding: 1rem;
    border: none;
    background-color: #d8d8d8;
    border-radius: 0.4rem 0 0 0.4rem;
    font-size: 1rem;
    transition: all 0.3s;
}

.search-form input:focus,
.search-form input:hover {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 3px;
}

.search-form button {
    padding: 1rem 1.2rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

@media (max-width: 600px) {
    .feature-list {
        justify-content: center;
    }

    .form-group-row{
        flex-direction: column;
    }

    .product-container{
        height: 30rem;
        min-height: auto;
    }

    .main-image img{
        width: 20rem;
        height: 20rem;
    }

    .overview{
        flex-direction: column;
        align-items: center;
    }

    .overview div img {
        width: 100%;
        height: auto;
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

